services:
  nominatim:
    image: mediagis/nominatim:4.5
    container_name: nominatim
    environment:
      - PBF_URL=https://download.geofabrik.de/asia/thailand-latest.osm.pbf
      - REPLICATION_URL=https://download.geofabrik.de/asia/thailand-updates/
    ports:
      - "8080:8080"
