/provincal_summary.csv
/ballot_data.sqlite
/ballots_nested.csv
/ballots_nested.zip
/ballots_raw.csv
/ballots_raw.zip
/unique_ballot_unit_info.csv
/vote62_10052023.parquet
/vote62_10052023_sample.csv
/ballot_data_10052023.sqlite
/vote62_data_2023-05-12.sqlite
/vote62_20230512.parquet
