/cannot_find_tambon_polygon.csv
/ect_batch_1_gpd.csv
/ect_api_result.pkl
/ect_batch_1.csv
/ect_batch_1.json
/ect_batch_1.parquet
/ect_batch_1.pkl
/ect_batch_2_gpd.csv
/ect_batch_2.parquet
/ect_batch_2.csv
/ect_batch_2.pkl
/ect_batch_3_gpd.csv
/ect_batch_3.parquet
/ect_batch_3.pkl
/ect_batch_3.csv
/ect_geofilterd.pkl
/ect_gpd.pkl
/ect.csv
/ect_geofilterd.csv
/ect.parquet
/the_large_dup.xlsx
